<div class="card-background">
    <div class="card">
        <div class="card-content">
            <div class="avatar"></div>
            <div class="avatar border"></div>
            <slot></slot>
        </div>
    </div>
</div>

