@import "../../../theme/colors";

:host {
  background: red;
  display: block;
  width: 100%;
  .card-background {
    display: flex;
    background-color: $paleGrey;
  }
  .card {
    margin: 0px;
    background-color: $white;
    border-bottom: 1px solid $pinkishGrey;
    overflow: visible;
    position: relative;
    box-shadow: none;
    .card-content {
      overflow: visible;
      border: solid 1px $whiteTwo;
      background-color: $white;
      .avatar {
        position: absolute;
        left: 0px;
        right: 0px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-image: var(--avatar-background-image, url("../../../assets/img/boy@3x.png"));

        &.border {
          background-image: none !important;
          background-color: transparent;
          border-radius: 50% 50% 0 0 / 100% 100% 0 0;
          border-color: $whiteTwo;
          border-width: 1px;
          border-style: solid;
          border-bottom: transparent;
        }
      }
    }
  }

}

:host {
  $base: 414px;
  @each $size in 1024px, 768px, 414px, 375px, 320px {
    @media screen and (max-width: $size) {
      $koeff: $size / $base;
      .card {
        width: 414px * $koeff;
        height: var(--card-height, 209.3px * $koeff);
        padding-top: 89px  * $koeff;
        margin-bottom: 52.4px * $koeff;
        .card-content {
          margin: 0px 17px * $koeff;
          border-radius: 6.7px * $koeff;
          padding-left: 45.7px * $koeff;
          padding-right: 45.7px * $koeff;

          padding-top: var(--card-content-top, 70px * $koeff);
          padding-bottom: var(--card-content-bottom, 20.6px * $koeff);
          .avatar {
            top: 38px * $koeff;
            width: 102px * $koeff;
            height: 102px * $koeff;
            margin: 0 auto;
            &.border {
              width: 104px * $koeff;
              height: 52px * $koeff;
            }
          }
        }
      }
    }
  }

}

