$tealBlue:          #009999;
$blackTwo:          #303030;
$black:             #333333;
$greyishBrown:      #404040;
$brownishGrey:      #666666;
$warmGrey:          #737373;
$warmGreyThree:     #747474;
$sicklyGreen:       #83b31b;
$sicklyGreenTwo:    $sicklyGreen;
$warmGreyTwo:       #999999;
$sickGreen:         #9ccd36;
$coolGrey:          #a6afb9;
$greyish:           #aaa9a9;
$greyishTwo:        #adadad;
$coolGreyTwo:       #b5bbc2;
$silver:            #bcc0cc;
$lightSage:         #c1eb8f;
$silverThree:       #c7ccd2;
$reddish:           #cc3333;
$pinkishGrey:       #cccccc;
$silverTwo:         #ccd0d5;
$pinkishGreyTwo:    #d1d1d1;
$whiteTwo:          #d9d9d9;
$whiteFive:         #dddddd;
$whiteFour:         #ececec;
$paleGrey:          #efeff4;
$paleGreyTwo:       #f1f4f6;
$whiteThree:        #f5f5f5;
$paleGreyThree:     #fbfcfc;
$veryLightPink:     #fef1f1;
$pinkishOrange:     #ff642e;
$pumpkinOrange:     #ff7e04;
$tangerine:         #ff8815;
$mango:             #ff9933;
$tangerineTwo:      #FF8C00;
$orangeYellow:      #FFA800;
$mangoTwo:          #ffaf2e;
$white:             #ffffff;
$black13:           rgba(0, 0, 0, 0.13);
$black23:           rgba(0, 0, 0, 0.23);
$white48:           rgba(230, 226, 225, 0.48);
$mango48:           rgba(253, 137, 44, 0.48);


.checkbox {
    &.checkbox-ios-mango, &.checkbox-md-mango{
        .checkbox-icon{
            border-color: $mango;
            &.checkbox-checked {
                background-color: $mango;
            }
        }
    }
}
.toggle {
    &.toggle-ios-mango, &.toggle-md-mango{
        &.toggle-checked{
            .toggle-icon{
                background-color: $mango;
            }
        }
        .toggle-icon{
            background-color: $silver;
            &:before {
                background-color: $silver;
            }
        }
    }
}

.button.button-ios-mango, .button.button-md-mango {
    background-color: $mango;
    &.activated{
        background-color: darken($mango, 10%) ;
    }
}

.button.button-ios-tangerine, .button.button-md-tangerine {
    background-color: $tangerine;
    &.activated {
        background-color: darken($tangerine, 10%) ;
    }
}


.button.button-clear-ios-tangerine, .button.button-clear-md-tangerine {
    color: $tangerine;
    &.activated {
        color: $tangerine;
        opacity: 1;
    }
}



.button.button-clear-ios-black, .button.button-clear-md-black {
    color: $black;
    &.activated {
        color: $black;
        opacity: 1;
    }
}

.button.button-clear-ios-warmGrey, .button.button-clear-md-warmGrey {
    color: $warmGrey;
    &.activated {
        color: $warmGrey;
        opacity: 1;
    }
}

.button.button-clear-ios-greyishBrown, .button.button-clear-md-greyishBrown {
    color: $greyishBrown;
    &.activated {
        color: $greyishBrown;
        opacity: 1;
    }
}



.button.button-round.button-outline-ios-coolGreyTwo, .button.button-round.button-outline-md-coolGreyTwo {
    color: $coolGreyTwo;
    border-color: $coolGreyTwo;
    &.activated {
        color: $white;
        background-color: $coolGreyTwo;
        opacity: 1;
    }
}

.icon {
    &.icon-ios-mango {
        color: $mango;
    }
}

